/* Buttons */

.il_btn {
  padding: 1rem 2.2rem;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  transition: var(--theme-transition);
  font-size: 18px !important;
  font-weight: 500;

  @include limbo-max {
    padding: 2.2rem 4.8rem;
  }

  &.button-color-blue {
    background: linear-gradient(91deg, #00ABF3 0.62%, #3E65F1 99.49%);
    box-shadow: 6px 5px 20.3px -5px rgba(25, 106, 157, 0.30);

    &:hover {
      box-shadow: none;
    }
  }

  &.button-color-purple {
    background: linear-gradient(91deg, #ABABF8 0.62%, #3E65F1 99.49%);
    box-shadow: 6px 5px 20.3px -5px rgba(25, 106, 157, 0.30);

    &:hover {
      box-shadow: none;
    }
  }

  &.button-color-white {
    background: #fff;
    color: #1D2D53;
  }

  &.button-color-blue-radius-purple {
    background:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(90deg, #9556D5 0%, #AC80ED 34%, #AA72FF 61%, #B6A1F7 100%) border-box;
    border: 3px solid transparent;
    color: #1D2D53;

    &:hover {
      background: linear-gradient(90deg, #9556D5 0%, #AC80ED 34%, #AA72FF 61%, #B6A1F7 100%) border-box;
      border: 3px solid transparent;
      color: #fff;
    }
  }

  &.button-color-blue-radius-blue {
    background:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(91deg, #1F9DD0 0.62%, #3E65F1 99.49%) border-box;
    border: 3px solid transparent;
    color: #1D2D53;

    &:hover {
      background: linear-gradient(91deg, #1F9DD0 0.62%, #3E65F1 99.49%) border-box;
      border: 3px solid transparent;
      color: #fff;
    }
  }

  &:not(:last-child),
  &:not(:last-child):not(:only-child) {
    margin-right: 3rem;
  }
}