// File location: assets\src\sass\styles

@include limbo-max {
    body:not(.home) {
        padding-top: 15rem;
        .header-main {
            background: #021B48;
        }
    }
    .header-top {
        display: none;
    }
    .header-main {
        position: fixed;
        top: 0;
        width: 100%;
        height: 15rem;
        &.sticky {
            background: #021B48;
            transition: var(--theme-transition);
        }
    }
    .header-main-inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .logo-wrap {
        line-height: 0;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        a {
            height: 65%;
            img {
                height: 100%;
                object-fit: contain;
                object-position: right;
            }
        }
    }
    .main-navigation {
        ul {
            display: none;
        }
    }
    #primary-menu {
        direction: rtl;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #021B48;
        top: 0;
        left: 0;
        padding: 80px 25px 25px 25px;
        z-index: -1;
        li {
            a {
                padding: 2.5rem;
                color: #fff;
                font-size: 18px;
                width: 100%;
            }
            &.current-menu-item {
                a {
                    opacity: 1;
                }
            }
            &.menu-item-has-children {
                a {
                    width: calc(100% - 25px);
                }
            }
            .sub-menu-trigger {
                width: 25px;
                transform: rotate(45deg);
                transition: var(--theme-transition);
            }
            > .sub-menu {
                width: 100%;
                margin-left: 10px;
                a {
                  padding: 1rem 1.5rem;
                }
              }
              &.sub-menu-open {
                .sub-menu-trigger {
                  transform: rotate(90deg);
                }
              }
              &.menu-li-hide-desktop {
                width: fit-content;
                a {
                    color: var(--color-2);
                    font-weight: 600;
                    border: 2px solid var(--color-2);
                    margin: 22px 0 0 11px;
                    padding: 2.5rem 5rem;
                }
              }
        }
        > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .nav-button {
        display: none!important;
    }

    /* Nav Trigger Start */

    .menu-toggle {
        display: none;
      }
      label {
        width: 30px;
        transition: var(--theme-transition);
        cursor: pointer;
        margin-right: 0;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        -webkit-tap-highlight-color: transparent;
        &:active, &:focus {
            background-color: transparent;
        }
        span {
            height: 3px;
            background-color: #fff;
            margin-left: 0;
            margin-bottom: 8px;
            border-radius: 1px;
            transition: var(--theme-transition);
              &:first-child {
                width: 22px;
              }
              &:nth-child(2) {
                width: 15px;
              }
              &:last-child {
                width: 30px;
                margin-bottom: 0;
              }
          }
      }

      #menu_trigger:checked + label {
        transform: rotateZ(-90deg);
        span {
            width: 6px;
            height: 6px;
            margin-left: 12px;
            margin-bottom: 3px;
            background-color: #fff;
            border-radius: 4px;
          }
      }

    /* Nav Trigger End */
}
