// File location: assets\src\sass\styles

@include limbo-max {
    body:not(.home) {
        padding-top: 15rem;
        .header-main {
            background: #fff;
        }
    }
    .header-top {
        display: none;
    }
    .header-main {
        position: fixed;
        top: 0;
        width: 100%;
        height: 15rem;
        &.sticky {
            background: #fff;
            transition: var(--theme-transition);
        }
    }
    .header-main-inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .logo-wrap {
        line-height: 0;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        a {
            height: 65%;
            img {
                height: 100%;
                object-fit: contain;
                object-position: right;
            }
        }
    }
    #primary-menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 0;
        left: 0;
        padding: 80px 25px 25px 25px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: var(--theme-transition);
        direction: rtl;
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
        li {
            a {
                padding: 2.5rem;
                color: #1D2D53;
                font-size: 18px;
                font-weight: 500;
                width: 100%;
            }
            &.current-menu-item {
                a {
                    opacity: 1;
                }
            }
            &.menu-item-has-children {
                a {
                    width: calc(100% - 25px);
                }
            }
            .sub-menu-trigger {
                width: 25px;
                transform: rotate(45deg);
                transition: var(--theme-transition);
            }
            > .sub-menu {
                width: 100%;
                margin-left: 10px;
                a {
                  padding: 1rem 1.5rem;
                }
              }
              &.sub-menu-open {
                .sub-menu-trigger {
                  transform: rotate(90deg);
                }
              }
              &.menu-li-hide-desktop {
                width: fit-content;
              }
        }
        > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        &.mobile-menu-visible {
            opacity: 1;
            visibility: visible;
            display: flex;
        }
    }
    .header-cta-buttons {
        display: none!important;
    }
    .nav-button-mobile {
        padding: 7px 8px;
        min-width: 14.2rem;
        justify-content: center;
        margin-right: 0 !important;
        padding: 0;
        a {
            display: flex !important;
            align-items: center;
            &:before {
                content: '';
                background: url("/wp-content/uploads/2026/01/Home-icon-1.png");
                background-size: cover;
                width: 16px;
                height: 16px;
                margin-left: 14px;
                display: inline-flex;
            }
        }
    }
    .nav-button-2-mobile {
        border-radius: 4px;
        background: linear-gradient(91deg, #2A9AEA 0.62%, #2E5AF8 99.49%);
        margin-top: 3rem;
        a {
            color: #fff !important;
            font-weight: 700 !important;
        }
        &:hover {
            box-shadow: 6px 5px 20.3px -5px rgba(25, 106, 157, 0.30);
        }
    }
    .nav-button-3-mobile {
        border-radius: 4px;
        background: linear-gradient(182deg, #FFF 1.35%, #FFF 30.62%, #C7D9F4 103.98%);
        margin-top: 3rem;
        a {
            background: linear-gradient(91deg, #2A9AEA 0.62%, #2E5AF8 99.49%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700 !important;
        }
        &:hover {
            box-shadow: 6px 5px 20.3px -5px rgba(25, 106, 157, 0.30);
        }
    }

    /* Nav Trigger Start */

    .menu-toggle {
        display: none;
      }
      label {
        width: 30px;
        transition: var(--theme-transition);
        cursor: pointer;
        margin-right: 0;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        -webkit-tap-highlight-color: transparent;
        &:active, &:focus {
            background-color: transparent;
        }
        span {
            height: 3px;
            background-color: #1D2D53;
            margin-left: 0;
            margin-bottom: 8px;
            border-radius: 1px;
            transition: var(--theme-transition);
              &:first-child {
                width: 22px;
              }
              &:nth-child(2) {
                width: 15px;
              }
              &:last-child {
                width: 30px;
                margin-bottom: 0;
              }
          }
      }

      #menu_trigger:checked + label {
        transform: rotateZ(-90deg);
        span {
            width: 6px;
            height: 6px;
            margin-left: 12px;
            margin-bottom: 3px;
            background-color: #1D2D53;
            border-radius: 4px;
          }
      }

    /* Nav Trigger End */
}
