.intro_title, .intro_subtitle, .intro_text, .il_btn, ul li a, .column, input:not(.wpcf7-submit), select, textarea, input:not(.wpcf7-submit)::placeholder, select::placeholder, textarea::placeholder {
  direction: rtl;
}

.hp-contact-us-section input:not(.wpcf7-submit) {
  direction: rtl !important;
}