.il_accordion {
  padding-top: var(--b-accordion-space-top-ld);
  padding-bottom: var(--b-accordion-space-bottom-ld);
  padding-left: var(--b-accordion-space-left-ld);
  padding-right: var(--b-accordion-space-right-ld);

  @include tab-max {
    padding-top: var(--b-accordion-space-top-mt);
    padding-bottom: var(--b-accordion-space-bottom-mt);
    padding-left: var(--b-accordion-space-left-mt);
    padding-right: var(--b-accordion-space-right-mt);
  }

  overflow: hidden;

  .intro_title {
    background: linear-gradient(115.55deg, #1F9DD0 0.62%, #3E65F1 99.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .intro_text {
    @include limbo-max {
      font-size: 16px;
    }

    @include desk-min {
      max-width: 56.5rem;
      margin-left: auto;
    }
  }

  .il_accordion-item {
    margin-bottom: 2rem;
    padding: 2.5rem 6rem 2.5rem 6rem;

    @include tab-max {
      padding: 3rem 8.5rem 3rem 4rem;
    }

    background: #fff;
    box-shadow: 4px 6px 10.3px -2px rgba(199, 217, 244, 0.30);
    border-radius: 16px;

    @include limbo-only {
      width: 70%;
    }

    @include desk-min {
      width: 50%;
    }

    margin-left: auto;

    &:not(:last-child) {

      @include limbo-max {
        margin-bottom: 18px;
      }
    }

    &:not(.open) {
      .il_accordion-body {
        display: none;
      }
    }

    &.open {
      .il_accordion-header {

        &::before {
          background-image: url('/wp-content/uploads/2026/01/closeed.png');
        }
      }
    }

    .il_accordion-header {
      font-size: 18px;
      margin-bottom: 0px;
      text-align: right;
      justify-content: flex-end;

      @include limbo-max {
        font-size: 16px;
        line-height: 22px;
      }

      cursor: pointer;

      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        background-image: url('/wp-content/uploads/2026/01/opeen.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        right: -4rem;
        transition: var(--theme-transition);

        @include limbo-max {
          width: 20px;
          height: 20px;
          right: -30px;
        }
      }
    }

    .il_accordion-body {
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 18px;
      justify-content: flex-end;
      text-align: right;
      direction: rtl;

      @include limbo-max {
        font-size: 15px;
      }

    }

    &.open {
      .il_accordion-header {
        margin-bottom: 0px;
        padding-bottom: 1.5rem;
        transition: var(--theme-transition);

        &::after {
          transform: scaleY(-1);
        }
      }
    }
  }
}

.second-page-acc {
  .il_accordion_inner {
    background-image: url('/wp-content/uploads/2026/01/Group-24444303-1.png');
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;

    @include limbo-max {
      padding-bottom: 75rem;
      background-position: bottom;
      background-size: 60rem auto;
    }
  }

  &.acc-small-child-bg {
    .il_accordion_inner {
      background-image: url('/wp-content/uploads/2026/01/123123124-1.png');
    }
  }
}

.acc-normal-title {
  .intro_title {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
  }
}