.il_block.il_columns {
  padding-top: var(--b-columns-space-top-ld);
  padding-bottom: var(--b-columns-space-bottom-ld);
  padding-left: var(--b-columns-space-left-ld);
  padding-right: var(--b-columns-space-right-ld);
  @include limbo-max {
    padding-top: var(--b-columns-space-top-mt);
    padding-bottom: var(--b-columns-space-bottom-mt);
    padding-left: var(--b-columns-space-left-mt);
    padding-right: var(--b-columns-space-right-mt);
  }
  .il_columns_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.align-left {
        text-align: left;
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
    &.text-400 {
      .il_col_text {
        font-weight: 400;
      }
    }
    &.text-600 {
      .il_col_text {
        font-weight: 600;
      }
    }
    &.text-700 {
      .il_col_text {
        font-weight: 700;
      }
    }
    .column {
      // insert code for columns here
    }
  }
  &.flickity-on-smaller {
    overflow: hidden;
    .container {
      @include limbo-max {
        width: 100%;
        .il_block_intro {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .il_columns_inner {
      .column {
        @include limbo-max {
          left: 5% !important;
          margin: 0 25px 25px 0;
          min-height: calc(100% - 20px);
        }
        @include limbo-max {
          width: 40%;
        }
        @include mob-only {
          width: 80%;
        }
      }
      // enable flickity on limbo-max
      @include limbo-max {
          &:after {
              content: 'flickity';
              display: none;
          }
      }
    }
    }
}

.il_columns_container {
  padding-top: var(--b-col-inner-cont-space-top-ld);
  padding-bottom: var(--b-col-inner-cont-space-bottom-ld);
  padding-left: var(--b-col-inner-cont-space-left-ld);
  padding-right: var(--b-col-inner-cont-space-right-ld);
  @include limbo-max {
    padding-top: var(--b-col-inner-cont-space-top-mt);
    padding-bottom: var(--b-col-inner-cont-space-bottom-mt);
    padding-left: var(--b-col-inner-cont-space-left-mt);
    padding-right: var(--b-col-inner-cont-space-right-mt);
  }
  position: relative;
  @include desk-min {
    width: var(--custom-max-width-ld);
  }
  .il_block_bg {
    z-index: -1;
    overflow: hidden;
    @include ab-bg;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .desk_bg {
      z-index: -1;
      @include tab-max {
        &.hide_desk_bg_mob {
          display: none;
        }
      }
    }
    .mob_bg {
      z-index: -1;
      @include limbo-min {
        display: none;
      }
    }
    .bg_element {
      position: absolute;
      z-index: -1;
      width: var(--bg-e-width-lg);
      height: var(--bg-e-height-lg);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-left: var(--bg-e-left-lg);
      margin-right: var(--bg-e-right-lg);
      margin-top: var(--bg-e-top-lg);
      margin-bottom: var(--bg-e-bottom-lg);
      @include limbo-max {
        width: var(--bg-e-width-mt);
        height: var(--bg-e-height-mt);
        margin-left: var(--bg-e-left-mt);
        margin-right: var(--bg-e-right-mt);
        margin-top: var(--bg-e-top-mt);
        margin-bottom: var(--bg-e-bottom-mt);
        display: var(--bg-e-display-mobile);
      }
      @include desk-min {
        display: var(--bg-e-display-desktop);
      }
    }
  }
}

.hp-get-inspired-section {
  .il_block_bg {
    img {
      @include sm-desk-only {
        width: 85%;
      }
      @include md-desk-only {
        width: 85%;
      }
    }
  }
  .il_columns_inner {
    .column {
      &:nth-child(1) {
        @include desk-min {
          .il_col_text {
            p {
              font-size: 2.2rem;
            }
          }
        }
      }
      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        .il_col_text {
          text-align: center;
          img {
            margin-bottom: 15px;
          }
          a {
            text-decoration: none;
            font-size: 3.6rem;
            font-weight: 700;
            span {
              color: var(--color-2);
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.hp-4-cols-section {
  .column {
    padding: 4rem 4rem 1.5rem 4rem;
    @include limbo-max {
      padding: 40px 40px 15px 40px;
    }
    background: #fff;
    border-radius: 31px;
    box-shadow: 5px 6.21px 50px 0px rgba(0, 0, 0, 0.10);
    .intro_title {
      margin-top: 29px;
    }
    .il_col_text {
      font-size: 1.8rem;
      p, a {
        font-size: 1.8rem;
        text-decoration: none;
        @include limbo-max {
          font-size: 16px;
        }
      }
    }
  }
}

.hp-3-cols-section {
  .il_columns_inner {
    .column {
      img {
        margin-bottom: 18px;
      }
    }
  }
}

.people-five-columns {
  .il_columns_inner {
    @include tab-only {
      justify-content: space-around !important;
    }
    @include limbo-only {
      justify-content: space-around !important;
    }
  }
  .column {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 5px 6.21px 50px 0px rgba(0, 0, 0, 0.10);
    img {
      width: 100%;
      border-radius: 14px 14px 0 0;
      max-height: 209px;
    }
    .intro_title {
      width: 100%;
      position: relative;
      margin-bottom: 0;
      padding: 2.7rem 0 2.5rem 0;
      @include limbo-max {
        padding: 3.8rem 0 3.8rem 0;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, #0290F0 0.14%, #000 0.15%, #0E61EE 0.16%, #8E2CC3 99.57%);
        top: 0;
        bottom: auto;
        left: 0;
      }
    }
    @include mob-only {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    @include tab-only {
      max-width: 42%;
    }
    @include limbo-only {
      max-width: 35%;
    }
  }
}

.mentoring-three-columns {
  .il_columns_container {
    .il_block_bg {
      box-shadow: 5px 6.21px 50px 0px rgba(0, 0, 0, 0.10);
    }
    .column:nth-child(1), .column:nth-child(2) {
      img {
        width: auto;
        height: 50px;
        margin-bottom: 12px;
        @include mob-only {
          height: 30px;
        }
      }
      .intro_title {
        line-height: 0;
        a {
          color: var(--color-2);
          text-decoration: none;
          font-size: 16px;
        }
      }
      @include desk-min {
        width: 20%;
      }
      @include mob-only {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .column:nth-child(3) {
      text-align: right;
      @include desk-min {
        width: 45%;
      }
      @include limbo-max {
        width: 100%;
        text-align: center;
        margin-top: 25px;
      }
      @include mob-only {
        margin-top: 0;
      }
    }
  }
}

.future-event-info {
  .il_columns_inner {
    .column {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 3rem;
      img {
          margin-bottom: 2rem;
      }
      @include mob-only {
          padding-top: 15px;
          &:first-child {
              padding-top: 0;
          }
      }
      @include tab-only {
          &:nth-child(1), &:nth-child(3) {
              width: 50%;
          }
          &:nth-child(2) {
              order: 1;
              width: 100%;
              padding-top: 5rem;
              padding-bottom: 3rem;
          }
      }
      @include limbo-min {
          width: 23%;
          &:nth-child(2) {
              min-width: 335px;
              padding: 3rem 5rem 1rem 5rem;
              border-left: 2px solid #696969;
              border-right: 2px solid #696969;
          }
      }
    }
  }
}

.future-event-team {
  .il_columns_container {
    box-shadow: 5px 6.21px 50px 0px rgba(0, 0, 0, 0.10);
    border-radius: 31px;
    .il_columns_inner {
      @include desk-min {
        justify-content: space-around;
      }
    }
    .column {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      @include desk-min {
        width: 28%;
      }
      border-radius: 14px;
      background: #FFF;
      box-shadow: 5px 6.21px 50px 0px rgba(0, 0, 0, 0.10);
      img {
        width: 100%;
        border-radius: 14px 14px 0 0;
      }
      .intro_title {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        padding: 23px 13px 18px 13px;
        @include limbo-max {
          padding: 23px 13px 18px 13px;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          background: linear-gradient(90deg, #0290F0 0.14%, #000 0.15%, #0E61EE 0.16%, #8E2CC3 99.57%);
          top: 0;
          bottom: auto;
          left: 0;
        }
      }
      .il_col_text {
        p {
          margin-bottom: 0;
          @include limbo-max {
            font-size: 15px;
          }
        }
        padding: 0 13px 18px 13px;
        @include limbo-max {
          padding: 0 13px 18px 13px;
        }
      }
      @include tab-only {
        max-width: 46%;
      }
      @include limbo-only {
        max-width: 45%;
      }
    }
  }
}

.hp-bottom-columns {
  @include tab-max {
    overflow: hidden;
  }
  .il_columns_container {
    .il_block_bg {
        @include limbo-min {
          display: block;
          overflow: visible;
          .bg_element {
            animation: pulsate 10s ease-in-out infinite;
            @keyframes pulsate {
              0% { transform: scale(0.75); }
              18% { transform: scale(1); }
              36% { transform: scale(0.9); }
              54% { transform: scale(1); }
              70% { transform: scale(0.75); }
              84% { transform: scale(0.8); }
              100% { transform: scale(0.75); }
            }
        }
      }
      @include tab-max {
        display: none;
      }
    }
    p {
      margin-bottom: 0;
    }
    .column:nth-child(1) {
      @include limbo-max {
        order: 1;
      }
      .intro_title {
        display: none;
      }
      .il_col_text {
        @include limbo-max {
          display: flex;
          flex-direction: column;
        }
        .p-b-cont {
          b {
            font-size: 2.4rem;
            @include limbo-max {
              font-size: 22px;
            }
          }
          @include limbo-max {
            order: 2;
          }
        }
        ol {
          margin-top: 5px;
          padding-right: 20px;
          li {
            color: #D7DADD;
            @include tab-max {
              font-size: 16px;
            }
          }
          @include limbo-max {
            order: 3;
          }
        }
        .hp-bottom-columns-two-logo-div {
          display: flex;
          align-items: center;
          gap: 5rem;
          margin-top: 4.6rem;
          @include mob-only {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            gap: 4rem;
          }
          @include limbo-max {
            order: 1;
            margin-bottom: 6rem;
          }
          span {
            font-size: 18px;
            @include mob-only {
              min-width: 100%;
            }
          }
        }
      }
    }
    .column:nth-child(2) {
      @include limbo-max {
        margin-bottom: 2rem;
      }
      .hp-bottom-columns-c2pf {
        @include limbo-max {
          font-size: 20px;
          font-weight: 700;
        }
        @include desk-min {
          display: none;
        }
      }
      .hp-bottom-columns-c2pl {
        @include mob-only {
          text-align: center;
        }
      }
    }
  }
}
